export SOURCE_WIKI_URL=''
export TARGET_WIKI_URL=''
export TARGET_WIKI_OAUTH_CONSUMER_TOKEN=''
export TARGET_WIKI_OAUTH_CONSUMER_SECRET=''
export TARGET_WIKI_OAUTH_ACCESS_TOKEN=''
export TARGET_WIKI_OAUTH_ACCESS_SECRET=''
